.App {
  position: relative;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 15px;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  padding: 0.25rem 1rem;
  color: white;
  background-color: #ccc;
  overflow: hidden;
  z-index: 3;
}

.section {
  height: 100vh;
  /* padding: 3rem 1rem; */
  color: white
}

.button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  background-color: rosybrown;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
